/* Base styles */
*, *:after, *:before {
  box-sizing: border-box;
}
html {
  font-size: 100%;
  line-height: 1.5;
  height: 100%;
}

body {
  position: relative;
  margin: 0;
  font-family: 'Work Sans', Arial, Helvetica, sans-serif;
  min-height: 100%;
  background: linear-gradient(to bottom, #401615 0%, #050202 100%);
  background-size: cover;
  color: #777;
}
img {
  vertical-align: middle;
  max-width: 100%;
}
button {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
}

/* Container */
.container {
  position: absolute;
  width: 24em;
  left: 50%;
  top: 50%;
  transform: translate(-50%,-50%);

}

/* Profile Card */
.profile {
  position: relative;
}
.profile--open {
}
.profile--open .profile__form {
  visibility: visible;
  height: auto;
  opacity: 1;
  transform: translateY(-2em);
  padding-top: 12em;
}
.profile--open .profile__fields {
  opacity: 1;
  visibility: visible;
}
.profile--open .profile__avatar {
  transform: translate(-50%, -1.9em);

}
.profile__form {
  position: relative;
  background: transparent;
  visibility: hidden;
  opacity: 0;
  height: 0;
  padding: 3em;
  border-radius: .25em;
  -webkit-filter: drop-shadow(0 0 2em rgba(0,0,0,0.2));
  transition:
    opacity .4s ease-in-out,
    height .4s ease-in-out,
    transform .4s cubic-bezier(0.175, 0.885, 0.32, 1.275),
    padding .4s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
.profile__fields {
  opacity: 0;
  visibility: hidden;
  transition: opacity .2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
.profile__avatar {
  position: absolute;
  z-index: 1;
  left: 50%;
  transform: translateX(-50%);
  border-radius: 1.25em;
  overflow: hidden;
  width: 12em;
  height: 12em;
  display: block;
  transition: transform .3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  will-change: transform;
}
.profile__avatar:focus {
  outline: 0;
}
.profile__footer {
  padding-top: 1em;
}


/* Form */
.field {
  position: relative;
  margin-bottom: 2em;
}
.label {
  position: absolute;
  height: 2rem;
  line-height: 2rem;
  bottom: 0;
  color: #999;
  transition: all .3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
.input {
  width: 100%;
  font-size: 100%;
  border: 0;
  padding: 0;
  background-color: transparent;
  height: 2rem;
  line-height: 2rem;
  border-bottom: 0.5px dashed #eee;
  color: #777;
  transition: all .2s ease-in;
}
.input:focus {
  outline: 0;
  border-color: #ccc;
}

/* Using required and a faux pattern to see if input has text from http://stackoverflow.com/questions/16952526/detect-if-an-input-has-text-in-it-using-css */
.input:focus + .label,
input:valid + .label {
  transform: translateY(-100%);
  font-size: 0.75rem;
  color: #ccc;
}

/* Button */
.btn {
  border: 0;
  font-size: 0.75rem;
  height: 2.5rem;
  line-height: 2.5rem;
  padding: 0 1.5rem;
  color: white;
  background: #050202;
  text-transform: uppercase;
  border-radius: .25rem;
  letter-spacing: .2em;
  transition: background .2s;
  width: 100%;
}
.btn:focus {
  outline: 0;
}
.btn:hover,
.btn:focus {
  background: #401615;
}


/* animation */

@keyframes colorchange
{
  0%   {background: #6B1C25;}
  25%  {background: #5E1920;}
  50%  {background: #451218;}
  75%  {background: #5E1920;}
  100% {background: #6B1C25;}
}

@-webkit-keyframes colorchange /* Safari and Chrome - necessary duplicate */
{
  0%   {background: #6B1C25;}
  25%  {background: #5E1920;}
  50%  {background: #451218;}
  75%  {background: #5E1920;}
  100% {background: #6B1C25;}

}



ul{
	list-style-type: none;
}
ul li{
	color: #fff;
	font-weight: bold;
	font-size: 2em;
}

li{
  text-align: center;
}


/**/

.heart{
    position: relative;
    width: 100px;
    height: 90px;

}
.heart:before,
.heart:after{
  animation: colorchange 6s, pulse 2s infinite; /* animation-name followed by duration in seconds*/
    /* you could also use milliseconds (ms) or something like 2.5s */
 -webkit-animation: colorchange 6s, pulse 2s infinite; /* Chrome and Safari */
    position: absolute;
    content: "";
    left: 50px;
    top: 0;
    width: 50px;
    height: 80px;
    background: #5E1920;
    -moz-border-radius: 50px 50px 0 0;
    border-radius: 50px 50px 0 0;
    -webkit-transform: rotate(-45deg);
       -moz-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
         -o-transform: rotate(-45deg);
            transform: rotate(-45deg);
    -webkit-transform-origin: 0 100%;
       -moz-transform-origin: 0 100%;
        -ms-transform-origin: 0 100%;
         -o-transform-origin: 0 100%;
            transform-origin: 0 100%;

            margin-left: 50%;
            margin-right: 50%;
            margin-top: 25%;






}
.heart:after{
    left: 0;
    -webkit-transform: rotate(45deg);
       -moz-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
         -o-transform: rotate(45deg);
            transform: rotate(45deg);
    -webkit-transform-origin: 100% 100%;
       -moz-transform-origin: 100% 100%;
        -ms-transform-origin: 100% 100%;
         -o-transform-origin: 100% 100%;
            transform-origin :100% 100%;


}

@keyframes colorchange
{
  0%   {background: #85171E;}
  25%  {background: #73141A;}
  50%  {background: #451218;}
  75%  {background: #581014;}
  100% {background: #6B1C25;}
}

@-webkit-keyframes colorchange /* Safari and Chrome - necessary duplicate */
{
  0%   {background: #85171E;}
  25%  {background: #73141A;}
  50%  {background: #451218;}
  75%  {background: #581014;}
  100% {background: #6B1C25;}

}




@-webkit-keyframes pulse {
  0% {
    -webkit-box-shadow: 0 0 0 0 rgba(240,88,98, 0.4);
  }
  70% {
      -webkit-box-shadow: 0 0 0 10px rgba(240,88,98, 0);
  }
  100% {
      -webkit-box-shadow: 0 0 0 0 rgba(240,88,98, 0);
  }
}
@keyframes pulse {
  0% {
    -moz-box-shadow: 0 0 0 0 rgba(240,88,98, 0.4);
    box-shadow: 0 0 0 0 rgba(240,88,98, 0.4);
  }
  70% {
      -moz-box-shadow: 0 0 0 10px rgba(240,88,98, 0);
      box-shadow: 0 0 0 10px rgba(240,88,98, 0);
  }
  100% {
      -moz-box-shadow: 0 0 0 0 rgba(240,88,98, 0);
      box-shadow: 0 0 0 0 rgba(240,88,98, 0);
  }
}



.navbar {
      background: linear-gradient(to bottom, #050202 0%, black 100%);
      overflow: hidden;
      position: fixed;
      bottom: 0;
      width: 100%;
      font-family: 'Give You Glory', cursive;
  }

  /* Style the links inside the navigation bar */
  .navbar a {
      text-align: center;
      display: block;
      color: white;
      text-align: center;
      padding: 14px 16px;
      text-decoration: none;
      font-size: 17px;
  }

  /* Change the color of links on hover */
  .navbar:hover {
      opacity: 0.10;
  }

p {
  font-family: 'Give You Glory', cursive;
  color: white;
  font-size: 24px;
width: 550px;
text-align: center;
margin-left: 25%;
margin-right: 25%;

}
